@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

.bg-primary {
    background: rgba(255, 144, 14, 0.1);
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.btn-primary {
    color: white;
    background: rgb(255, 144, 14);
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.43rem;
}

.Dark-01 {
    color: rgb(19, 19, 19);
}

.Dark-02 {
    color: rgb(66, 66, 66);
}

.Dark-03 {
    color: rgb(114, 114, 114);
}

.section-header {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.3rem;
}
.normal-txt {
    line-height: 1.62rem;
    color: rgb(114, 114, 114);
}

.mt-24{
    margin-top: 24px;
}
.mb-32{
    margin-bottom: 32px;
}

/* header styles */


/* navbar styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    text-decoration: none;
}

.nav-item {
    margin-right: 50px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.brand {
    font-size: 3rem;
}

/* banner styles */
.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.68rem;
}

.banner-image {
    width: 100%;
}

/* our features style */
.our-features {
    gap: 75px;
    align-items: center;
    padding: 0 60px;
}
.our-features-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features-text-container{
    max-width: 540px;
}
#quick-txt{
    font-weight: 500;
}
#feature-txt{
    color: rgb(255, 144, 14);
}

/* some facts styles */
.facts-container{
    justify-content: space-around;
    margin-top: 100px;
}
.fact-card{
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    /* padding: 45px 35px 60px 35px; */
}
.fact-card-content{
    margin: 45px 35px 60px 35px;
    text-align: center;
}
/* Responsive Media Query */
/* for small devices */
@media screen and (max-width: 575.98px) {
    .navbar,
    .nav-links,
    .our-features {
        flex-direction: column;
    }
    .our-features-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features {
        gap: 40px;
        padding: 0 20px;
    }
}
/* for medium devices */
@media screen and (min-width: 576px) and (max-width:991.98px) {
    .our-features, 
    .navbar{
        flex-direction: column;
    }
}