@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

.bg-primary {
    background: rgba(255, 144, 14, 0.1);
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.btn-primary {
    color: white;
    background: rgb(255, 144, 14);
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.43rem;
}

.Dark-01 {
    color: rgb(19, 19, 19);
}

.Dark-02 {
    color: rgb(66, 66, 66);
}

.Dark-03 {
    color: rgb(114, 114, 114);
}

.section-header {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.3rem;
}

.normal-txt {
    line-height: 1.62rem;
    color: rgb(114, 114, 114);
}

.secondary-txt {
    color: rgb(114, 114, 114);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

.section-text {
    max-width: 540px;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.mt-24 {
    margin-top: 24px;
}

.mb-32 {
    margin-bottom: 32px;
}

/* header styles */


/* navbar styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    text-decoration: none;
}

.nav-item {
    margin-right: 50px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.brand {
    font-size: 3rem;
}

/* banner styles */
.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.68rem;
}

.banner-image {
    width: 100%;
}

/* our features style */
.our-features {
    gap: 75px;
    align-items: center;
    padding: 0 60px;
}

.our-features-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features-text-container {
    max-width: 540px;
}

#quick-txt {
    font-weight: 500;
}

#feature-txt {
    color: rgb(255, 144, 14);
}

/* Features Enjoy Section Styles */
.features-enjoy {
    gap: 140px;
}

.features-enjoy-header {
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;
    margin: 40px 0 24px 0;
}

.features-enjoy-card-header {
    color: rgb(19, 19, 19);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.43rem;
}

.features-enjoy-card {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px;
    margin-bottom: 20px;
}

.experience-badge {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    padding: 46px 42px;
    margin-left: -92px;
    margin-top: -123px;
}

#experience-txt {
    font-weight: 700;
    font-size: 4rem;
}

#year-txt {
    font-weight: 500;
    font-size: 1.56rem;
}

/* some facts styles */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    margin: 100px 50px 0 50px;
}

.fact-card {
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 240px;
    height: 240px;
}

.fact-card-content {
    margin: 45px 35px 60px 35px;
    text-align: center;
}

.card-number {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 2.3rem;
    color: rgb(66, 66, 66);
    margin: 10px 0;
}

.fact-card-text {
    margin-top: 10px;
}

/* our sponsors styles */
.our-sponsors-header {
    margin: 24px 0;
}

.sponsors-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
}

.sponsors-container img {
    filter: grayscale(100%);
}

/* Responsive Media Query */
/* for small devices */
@media screen and (max-width: 575.98px) {

    .navbar,
    .nav-links,
    .our-features,
    .features-enjoy {
        flex-direction: column;
    }

    .our-features-image-container,
    .facts-container,
    .sponsors-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container {
        gap: 20px;
    }

    .our-features {
        gap: 40px;
        padding: 0 20px;
    }

    .sponsors-container {
        gap: 50px;
        justify-items: center;
    }
    .features-enjoy-image-part img{
        width: 100%;
    }
    .experience-badge {
        margin-top: -80px;
        margin-left: 0;
        padding: 20px 10px;
    }
}

/* for medium devices */
@media screen and (min-width: 576px) and (max-width:991.98px) {

    .our-features,
    .navbar,
    .features-enjoy {
        flex-direction: column;
    }

    .our-features-image-container,
    .facts-container,
    .sponsors-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* .fact-card-content > img{
        width: 95%;
    } */
    .facts-container,
    .sponsors-container {
        gap: 40px;
        justify-items: center;
    }

    .section-text {
        margin: 0 auto;
    }
    #experience-txt {
        font-weight: 700;
        font-size: 2 rem;
    }
    .features-enjoy-image-part img{
        width: 100%;
    }
    .experience-badge {
        margin-top: -90px;
        margin-left: 0;
        padding: 20px 10px;
    }
}